
/* Universal Styles */
html {
  font-size: 16px;
}

body {
  min-width: 400px; /* To emulate Chrome min-width */
  background-color: hsl(50, 69%, 95%, 1);
  font-family: "Work Sans", sans-serif;
  color: rgb(32, 64, 86);
}



.jumbotron {
  margin: 0 auto;
  padding: 0;
  background-color: transparent;
}

.jumbotron h1 {
  font-size: 2.75em;
}


#work {
  margin: auto 8rem;
}

#work img {
  padding: 1rem;
}
