
/* Universal Styles */


@font-face {
font-family: 'FoundersGroteskWeb-Semibold';
src: url('FoundersGroteskWeb-Semibold.woff2') format('woff2'), url('FoundersGroteskWeb-Semibold.woff') format('woff');
/* font-weight: 700; */
font-style: normal;
font-stretch: normal;
}



@import url('https://fonts.googleapis.com/css2?family=Chivo:wght@200;300;400&family=Eczar:wght@400;600;700;800&family=IBM+Plex+Sans:wght@600&family=Inter:wght@300;400;500;900&family=Spectral:wght@300;400;500&family=Tilt+Warp&display=swap');

html {
  width: 100%;
  font-size: 15px;
  min-width: fit-content;
}



body {
/*  min-width: fit-content;*/
  background-color: rgb(247 246 243);
/*  width: 100%;*/
  font-family:'Chivo', sans-serif;
  color: hsla(300, 5%, 10%, 1);

  width: 100% !important;
  padding-right: 0;
  position: relative;
}




.container {
  margin: 0 auto;
  /*max-width: 1650px;*/ 
  padding-bottom: 5em;
}


a {
  text-decoration: none;
/*  font-weight: 600;*/
  border-bottom: 2px black solid;
}

a,h1,h2,h3,p,span {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  color: hsl(0deg 0% 0%);
  font-family: "Chivo", sans-serif;
}



h1 {
  font-size: 1.7em;
  /* font-weight: 500; */
  line-height: 1.4;

}

h2 {

}

p {
  font-size: 1em;
  font-weight: 400;
}

::selection {
  background: #ff52ea;
  /* color: hsla(38, 20%, 96%, 1); */
}

body.concept-art {
  background-color: white;
}

#bold-lg {
/*  font-weight: 500;*/
/*  font-size: 1.25em;*/
}





/* HEADER/MENU */



header {
 display: flex;
 justify-content: space-between;
 position: fixed;
 mix-blend-mode: difference;
 z-index: 100000;
 right: 0;
 left: 0;
 top: -33px;
 /* margin-right: 7em; */
 /* margin-left: 7em; */
 /* margin-bottom: 2em; */
 padding-top: 2.25em;
 padding-bottom: 1.55em;
 /* give it dimensions */
 height: 1.55em;
 /* width: 90%; */
 /* background-color: rgb(248, 245, 243); */
}




a.nav {
  font-family:'Tilt Warp', cursive;
  font-style: normal;
  font-weight: 600;
  color: hsl(228deg 100% 50%);
  cursor: pointer;
  font-size: 4em;
  line-height: .6em;
/*  letter-spacing: .02em;*/
  border: none;
}

footer.index a.nav, header.index a.nav {
/*  color: rgb(0,0,0);*/
}

/*a#about.nav {
  font-size: 1em;
}*/

a.nav:after {
  content: '';
  display: block;
  border-bottom: 1px solid black;
  width: 0;
  position: relative;
  right: 0;
  -webkit-transition: .5s ease;
  transition: .8s ease;
  height: .25em;
}

a.nav:hover:after {
  width: 97%;
}

footer.index a.nav:after, header.index a.nav:after {
  border-bottom: 3px solid hsl(228deg 100% 50%);
}

.logo {
  margin-left: 3em;
}

.menu {
  display: flex;
  margin-right: 3em;
}

.menu a {
/*  font-family: 'Spectral', serif;*/
  margin-left: 1em;
}

#work {
  margin-right: .6em;
  visibility: hidden;
}




/* Header Responsive 968px */

@media only screen and (max-width: 968px) {

  header {
    height: 1.25em;
  }

  /* a.nav {
    font-size: 1.2em;
  } */

  /* #work.underline {
    border-bottom: 1px solid black;
    width: 48px;
  } */

  /* #about.underline {
    border-bottom: 1px solid black;
    width: 38px;
  } */

  .logo {
    margin-left: 1em;
  }

  .menu {
    margin-right: 1em;
  }


}



/* Header Responsive 640px */
@media only screen and (max-width: 640px) {

  .menu {
/*    margin-right: 0em;*/
  }

  .logo {
/*    margin-left: 0em;*/
    max-width: 300px;
  }

}






/* INDEX */

.banner-index {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
  position: relative;
  /* top: 0; */
  /* margin: 6em; */
}

.banner-index h2 {
  font-size: 1.9em;
  font-weight: 300;
  line-height: 1.6;
  text-align: center;
  max-width: 80vw;
}


.hover-title {
  display: inline;
  pointer-events: auto;
  cursor: pointer;
}

.hover-title a {
  /* text-decoration-style: solid; */
  /* text-decoration-line: underline; */
  border-bottom: 1px solid black;
}

.hover-image img {
  max-width: 100% !important;
  max-height: 100% !important;
  width: auto !important;
  height: auto !important;
  margin-bottom: 0;
}

.hover-title:hover + .hover-image {
  display: flex;
  pointer-events: none;
}

.hover-image {
  display: none;
  position: fixed;
  top: 50%;
  left: 42%;
  transform: translate(-55%, -60%);
  z-index: -1;
  flex-direction: column;
  align-items: center;
  width: 70vw;
  height: 70vh;
}


.index-banner {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20em;
  margin-bottom: 15em;
  max-width: 800px;
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: center; */
  /* top: auto; */
  /*  margin: 0 1.25em 8em 1.25em;*/
/*  margin: 8em;*/
}

.intro-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: center;
/*  margin: 8em auto 8em 2em;*/
/*  max-width: 500px;*/
}

.intro-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: center;
/*  margin: 8em auto 8em 2em;*/
/*  max-width: 500px;*/
}

.about-text {
  margin: 2em 0 3em 0;
}

.intro-text p {
  font-size: 2.3em;
  font-weight: 400;
  line-height: 1.9;
}

#canvas {
 width: 100%;
 margin: 0 auto;
}


.work {
  display: flex;
  max-width: 1500px;
  flex-wrap: nowrap;
  justify-content: center;
  margin: 0 auto; 
  position: relative;

}


.concept-art {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  /* top: 3em; */
  /* margin: 4em; */
  position: relative;
  padding-bottom: 7em;
}

.concept-art .image-container {
  margin: 2em 1em;
}

.col {
/*  display: flex;*/
  position: relative;
/*  width: 700px;*/
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
}

.col-right {
/*  margin-right: 15em;*/
}

.col-left {
/*  margin-left: 15em;*/
}

a.content {
  border: none;
  border-bottom: none;
}

a.arrow {
  border-bottom: none;
  color: black;
  size:2em;
}

.work .content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1em 1em;
  overflow: hidden;
  background-color: #000000;
}

.work .image-container {
  position: relative;
  width: 100%;
  /* transition: color 0.3s ease-in-out; */
}

#flog {
  display: flex;
  justify-content: flex-end;
}

#flog .image-container {
  width: 70%;
}

#boneyard {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

#boneyard .image-container {
  width: 70%;
}


.project-main .work .image-container {
  margin: 1em;
}

.work .content:hover img {
  opacity: 0.08;
  mix-blend-mode: hard-light;
}


.image-container a {
  position: relative;
}

.image-container img {
  display: block;
  width: 100%;
  display: block;
  margin: 0 auto;
}

 #small img {
  float: left;
  width: 70%;
}




img#vertical {
  max-height: 1200px;
  width: auto;
}

/* .work img:hover {
  display: block;
  mix-blend-mode: overlay;
  opacity: .15;
} */

.content span {
  position: absolute;
  text-rendering: geometricPrecision;
  /* font-family: "Canela", "nimbus-sans-extended", "Work Sans", sans-serif; */
  text-align: center;
  /* text-transform: uppercase; */
  padding: 40px;
  line-height: .8;
  font-size: 1.7em;
  color: #f7f5f3;
  z-index: 10000;
  opacity: 0;
}

.work .content:hover span {
  opacity: 1;

}






/* INDEX Responsive */

@media only screen and (max-width: 968px) {
  .work {
    flex-direction: column;
  }

  .intro-container {
    margin: 5em;

  }

  .intro-container p {
/*    font-size: 1.25em;*/

  }

  .banner-index {
    height: 45vh;
  }

  .col {
    width: 100%;
  }

  .col-left {
    margin-left: 0em;
  }

  .col-right {
    margin-right: 0em;
  }

  .work .content {
    margin: 1em 1.25em;
    flex-direction: column;
    align-items: flex-start;
    background-color: rgba(247, 245, 243,0);
    max-height: 100%;
  }

  .content span {
    position: relative;
    opacity: 1;
    color: #1b181a;
    padding: 10px 0px;
    font-size: 1.2em;
    letter-spacing: .02em;
    /* text-transform: uppercase; */

  }

  .work {
    top: 3em;
    /* margin: 2em; */
  }

  #work {
    display: none;
  }

  .work .content:hover img {
    opacity: 1;
    mix-blend-mode: normal;
  }

}

@media only screen and (max-width: 733px) {
  .banner-index h2 {
    font-size: 1.6em;
    line-height: 1.6;
    text-align: center;
    max-width: 75vw;
  }


}


@media only screen and (max-width: 640px) {
  .work  {
    margin: .5em;
    top: 5em;
  }

  .work .content {
    margin: .75em .75em 3em .75em;
    flex-direction: column;
    justify-content: center;
  }

  .banner-index {
    height: 50vh;
  }

  .intro-container {
    margin: 1.2em;

  }

}






/* Project Page Styling */

body.gray-body-bg {
   background-color: #f5f0f0; 
}


.image-gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.image-gallery > li {
  height: 400px;
  cursor: pointer;
  position: relative;
}

.image-gallery li img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  vertical-align: middle;
  border-radius: 5px;
}

.quad {
  display: flex;
  margin: 0;
}

.col-illustration .col-left {
  display: flex;
  position: relative;
  flex-direction: column;
  flex-wrap: nowrap;
  width: auto;
  justify-content: flex-start;
  margin-right: .5em;
  margin-left: 0;
}

.col-illustration .col-right {
  display: flex;
  position: relative;
  flex-direction: column;
  flex-wrap: nowrap;
  width: auto;
  justify-content: flex-start;
  margin-left: .5em;
  margin-right: 0;
}

.col-illustration {
  display: flex;
  margin: 0;
  margin-top: 8em;
}

.quad-stella {
  display: flex;
  margin: 1em 0;
}


.project-images .quad-stella .image-container {
  margin: 0;
}

.project-main.col {
  display: flex;
  position: relative;
  width: 33.33%;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
}

.video-responsive {
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
    margin-bottom: 1em;
/*    margin: 1em 1em;*/
}

.video-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position: absolute;
}

.wrap-container {
  /* display: flex; */
  display: inline-block;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
}

.project-info {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: center;
  margin: 8em auto 8em 0;
  max-width: 450px;


}

#conceptart .project-info {
  font-weight: 300;
  margin-left: 3em;
  font-size: 2.4em;
  letter-spacing: .01em;
  margin-bottom: 3em;
}

#oasis {
  margin-bottom: 7em;
}

#oasis .project-info {
  font-weight: 300;
  margin-left: 3em;
  font-size: 2.4em;
  letter-spacing: .01em;
  margin-bottom: 3em;
}

.about-text {
  margin: 2em 0 3em 0;
}

.project-main p {
  line-height: 1.8;
  font-size: 1.1em;
  text-align: left;
  font-weight: 400;

}

.art-section {
  max-width: 1000px;
}

.inline-group {
  position: relative;
  margin: 2em 2em;
  top: 4em;
  text-align: center;
}

.inline-group .image-container {
  display: inline-block;
  margin: 10px;
}

.inline-group .image-container img {
  max-height: 500px;
  max-width: 650px;
  width: auto;
}

.project-images .wrap-container .image-container {
  width: 47%;
  margin: .5em;
}

#landscape {
  /* width: 80%; */
}


.infinite-art {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.infinite-art .image-container {
  max-width: 600px;
}

.project-main {
  position: relative;
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: center; */
  /* top: auto; */
  /*  margin: 0 1.25em 8em 1.25em;*/
/*  margin: 8em;*/
}

.project-banner {
  /* margin: 1.5em; */
  /* top: 3em; */
  position: relative;
  margin: 1em 7em;
  /* width: 100%; */
  /* max-height: 950px; */
  /* overflow: hidden; */
}

.project-banner .image-container {
  max-height: 80vh;
  overflow: hidden;
}

.project-banner .image-container img {
  margin: 0 auto;
  height: 100%;
}

.work-visdev {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  top: 2em;
  /* margin: 0 13em; */
  position: relative;
  padding-bottom: 7em;

}

.work-visdev .col {
  display: flex;
  position: relative;
  width: 50%;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.work-visdev .col-right {
  margin-left: 2em;
  margin-right: 0;
}

.work-visdev .col-left {
  margin-right: 2em;
  margin-left: 0;
}

.flex-grid-thirds {
  display: flex;
  justify-content: space-between;
}
.flex-grid-thirds .col {
  width: 32%;
}


.project-images {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 5em;
}


.project-images .image-container {
  margin: 1.5em 0;
  overflow: hidden;
}

.wrapper .image-container {
  margin: .25em;
}

#portrait {
  height: 130vh;
}

#portrait img {
  width: auto;
  height: 100%;
}

#oasis .image-container {
  margin: 1em;
  overflow: hidden;
}

#flog-vid video {
  max-height: 75vh;
  margin: 0 auto;
  margin-left: 7%;
}

.image-container video {
  margin: 0 auto;
  /* margin-left: 15%; */
}



.wrapper {
  /* margin: 1em 2em; */
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  /* flex-wrap: wrap; */
}

#grinch-sketch {
  align-items: flex-start;
}


.img-left {
  margin-right: .25em;
}

.img-right {
  margin-left: .25em;
}

.wrapper img {
  display: block;
  max-width: 100%;
  /* height: 100%; */
  /* margin: 1.5em; */
}


.project-main h1 {
  font-weight: 300;
  font-size: 2.2em;
  line-height: 1.2;
  /* max-width: 600px; */
  text-align: left;
  /* margin-right: 2em; */
  letter-spacing: .01em;
}

#stella .image-container {
  margin: 0;
}

p#subtitle {
  margin-left: 1em;
  margin-bottom: 1em;
  margin-top: 6em;
}

.about-info a {
/*  border-bottom: 1px solid #fde8f4;*/
}

.about-info a:hover {
  cursor: pointer;
  color: #ff4bee;
}





/* PAGE STYLING - responsive */

@media only screen and (max-width: 1320px) {
  .content span {
    font-size: 1.7em;
    line-height: 1.1;
  }
}

@media only screen and (max-width: 1400px) {
  .content span {
    font-size: 1.6em;
    padding: 0;
    margin-top: 5px;
  }

  .project-main {
    margin: 0 1.25em;
  }

  .project-main p {
    max-width: none;
    font-size: 17px;
    line-height: 1.8;
  }

  .col-illustration {
    flex-direction: column;
  }


  .wrapper {
    flex-direction: column;

  }

  .img-left {
    margin-right: auto;
    margin-bottom: .5em;
  }

  .img-right {
    margin-left: auto;
  }
  .wrapper img {
    /* margin: 1em 0; */

  }

  .concept-art {
    flex-direction: column;
    margin: 8em;
  }

  .project-banner {
    margin: 1em 4em;
  }

  .about-text {
    margin: 1em 0 3em 0;
    /* font-size: 1.5em; */
  }

  .project-main h1 {
    font-size: 1.8em;
    line-height: 1.3;
    text-align: left;
  }

  #portrait {
    height: auto;
  }

  #portrait img {
    width: 100%;
    height: auto;
  }

  .quad, .quad-stella {
    flex-direction: column;
  }

  #flog-vid video {
    width: 100%;
    margin-left: 0%;
  }
}



@media only screen and (max-width: 900px) {
  /* .content span {
    font-size: 1.25em;
  } */

  .project-main {
    /* margin: 0 .25em; */
  }

  .project-banner {
    margin: 1.25em;
  }

  .quad, .quad-stella  {
    margin: .5em;
    top: 5em;
  }

  p#subtitle {
    margin-left: 1em;
    margin-right: 1em;
  }


  .concept-art {
    margin: .5em;
  }

  .project-info {
/*    max-width: 100vw;*/
    margin-top: 13em;
    /* margin: 2em 1.5em; */
    align-items: flex-start;
  }

  .project-main p {
    line-height: 1.7;
  }

  .project-banner .image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    overflow: hidden;
  }

  .project-banner .image-container img {
    margin: 0 auto;
    width: auto;
    height: 100%;
    /* transform: translate(-25%, 10%); */
  }
}





/* About Page */


.about-section {
  display: flex;
  position: relative;
  top: 3em;
  flex-direction: row;
  align-items: center;
  margin: 12em 7em;
  
}

.about-section .image-container {
  /* display: flex;
  left: 100px; */
  /* top: 108px; */
  top: 5em;
  /* position: fixed;
  justify-content: flex-start;
  align-items: center;
  opacity: .95; */
}

.mike-photo {
  position: relative;
  top: 5em;
}

.old-mike {
  max-width: 450px;
  margin: 0 auto;
  /* margin-right: 80px; */
  /* margin-left: 30px; */
  /* position: relative; */
/*  display: flex;*/
  align-items: center;
  overflow: hidden;
}



.about-info {
  position: relative;
  top: -.5em;
  max-width: 600px;
  text-align: left;
  margin: 3em;
  word-break: break-word;
  color: hsl(0, 0%, 0%);
  font-style: normal;
  font-stretch: normal;
  text-rendering: geometricPrecision;
  line-height: 1.7;
  font-size: 1.5em;
  font-weight: 300;
}

.about-info h2 {
  font-family: 'Tilt Warp', 'Chivo', sans-serif;
  font-size: 1.2em;
  margin-bottom: 1.4em;
/*  letter-spacing: .1em;*/

}


.about-info p, .about-info a {
  color: #ffffff;
  font-size: .8em;
  line-height: 2em;
}

.about-info p {
  font-family: 'Chivo';
  color: #000000;
  margin-bottom: 2em;
}

body.about-body {
  background-color: hsl(206deg 57% 40%);
  height: 1500px;
}

.about-header a.nav {
  color: #3944D0;
}

.image-container #old-mike img {
  /* mix-blend-mode: multiply; */

}

.about-header a.nav:after {
  border-bottom: 3px solid #3944D0;
}

a.nav:hover:after {
  width: 97%;
}



@media only screen and (max-width: 1200px) {
  .about-section {
    flex-direction: column;
    align-items: center;
    top: 1em;
    margin: 5em 1.25em;

  }

  .about-info {
    font-size: 1.7em;
    margin: 6em .25em;
    text-align: center;
  }

  #old-mike {
    max-width: 100vw;
    margin: 2em;
  }

  .about-section .image-container {
    left: auto;
    /* top: 11em; */

  }


}


@media only screen and (max-width: 543px) {
  .about-section{
    margin: 2em 1.25em;
  }

  .about-info p {
    /* font-size: 17px; */
/*    text-align: left;*/
  }

}


/* Footer */

footer {
 display: flex;
 justify-content: flex-end;
 align-items: flex-end;
 position: relative;
 z-index: 100000;
 bottom: 0;
 right: 3em;
 padding-top: 2em;
 /* give it dimensions */
  height: 200px; 
  margin: 3em 0;
  width: 100%;
}

footer p {
/*  font-family: 'Tilt Warp';*/
}


/* footer a:hover {
  /* color: #ff52ea; */
  /* color: transparent; */
  /* -webkit-text-stroke: .8px black; */
/* }  */

.social {
  margin-left: 4em;
  /* position: fixed; */
  /* left: 3em;
  bottom: 2em; */
}


.up {
  margin-right: 3em;
}

@media only screen and (max-width: 968px) {
  .up {
    margin-right: 1.25em;
  }

}
