
/* Universal Styles */
html {
  font-size: 16px;
}

body {
  min-width: 400px; /* To emulate Chrome min-width */
  background-color: hsl(50, 69%, 95%, 1);
  font-family: "Work Sans", sans-serif;
  color: rgb(32, 64, 86);
}


/* bootstrap overrides */
/* .container {
  /* max-width: 1600px; */
  /* padding: 3rem 3rem; */
  /* margin: 0 auto; */
/* } */ 

.jumbotron {
  margin: 0 auto;
  padding: 0;
  background-color: transparent;
}

.jumbotron h1 {
  font-size: 2.75em;
}


/* content */
/* nav {
  display: flex;
  justify-content: space-between;
} */

/* .navbar-fixed-top {
  top: 2rem;
} */

#work {
  margin: auto 8rem;
}

#work img {
  padding: 1rem;
}
